# Exploratory Data Analysis

# EDA and it's 10 important steps

In [30]:
# Import Dataset
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#load dataset

df = sns.load_dataset('titanic')
df1 = sns.load_dataset('tips')

In [31]:
#step-1 Data shape

df.shape
rows, cols = df.shape
print("Number of Rows: ", rows) #instances
print("Number of Cols: ", cols ) #series

Number of Rows:  891
Number of Cols:  15

In [32]:
# Step-2 Data structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [33]:
# Step-3 Find missing values
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [34]:
# percnet calculation of missing value:
df.isnull().sum() / df.shape[0] *100

survived        0.000000
pclass          0.000000
sex             0.000000
age            19.865320
sibsp           0.000000
parch           0.000000
fare            0.000000
embarked        0.224467
class           0.000000
who             0.000000
adult_male      0.000000
deck           77.216611
embark_town     0.224467
alive           0.000000
alone           0.000000
dtype: float64

In [35]:
# Step-4 Spilt  variables for new coulumn needed / Feature engineering

city = pd.DataFrame(np.array([["Lahore, Pakistan",67, 100], ["Beijing, China", 5, 6], ["berlin, Germany", 8, 9]]),
                   columns=['address', 'males', 'females'])
city

            address males females
0  Lahore, Pakistan    67     100
1    Beijing, China     5       6
2   berlin, Germany     8       9

In [37]:
city [['city', 'country']] = df1['address'].str.split(',', expand=True)
city

KeyError: "None of [Index(['address'], dtype='object')] are in the [columns]"

In [ ]:
#type casting/ conersion of dtype
city.info()

In [ ]:
# to convert into an int
city[['males', 'females']] = df1[['males', 'females']].astype('int64')
city.info()

In [ ]:
# to conver into str
city[["city", "country"]] = city[["city", "country"]].astype('str') # bool float
city.info()
# why info dtype is not chnaging

In [ ]:
# STep 6 summary statistics
df.describe()

In [ ]:
# Step-7 value count for a specific column
df['class'].value_counts()

In [ ]:
# finding unique values in a colu,n/seris
df['class'].unique()

In [ ]:
# Step- 8 Deal with duplicates 
df[df.embark_town == 'Queenstown']

In [ ]:
# Check the normality / Standard normal distribution

sns.histplot(df['age'], data = df) #how to make histplot for two cariable for a continous one

In [ ]:
#measure its skewness and kurtosis
df['age'].agg(['skew', 'kurtosis']).transpose()

In [ ]:
sns.boxplot(df['age'], color = 'blue')

In [ ]:
# Step-10 Correlation
corr = df.corr(method="pearson") # you can use spearman if you want
corr 
# this will display a correlation matrix

In [ ]:
sns.heatmap(corr, annot=True)
# this will show the numbers with colors

In [ ]:
sns.pairplot(corr)

In [ ]:
corr.style.background_gradient(cmap='coolwarm')