In [2]:
#import libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as pkt
import scipy

In [5]:
# dataset download
kashti =  sns.load_dataset('titanic')
kashti.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [33]:
kashti.isna().sum()

kashti["age"] = kashti["age"].dropna()
kashti.isna().sum()

KeyError: 'age'

In [22]:
kashti.dropna(subset=['age'], axis=0, inplace=True)
kashti.isna().sum()

TypeError: Series.dropna() got an unexpected keyword argument 'subset'